* {box-sizing:border-box}
  

.slideshow-wrapper {
  width: 100%;  
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.slide {
  display: none;
  
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



.text {
  color: grey;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.punct {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .punct:hover {
  background-color: #717171;
}


.fade {
  
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.produse{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  
  "produs1 produs2 produs3"
  "produs4 produs5 produs6"
  "produs7 produs8 produs9"
  
}
.img{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.nume-produs{
  text-align: center;
  font-family: Montserrat, sans-serif;
}

#furnizor{
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.buton-detalii1{ 
 background:    #000000;
 background:    linear-gradient(#000000, #00ffff);
 border-radius: 8px;
 width:         100px;
 height:        50px;
 color:         #ffffff;
 display:       inline-block;
 font:          normal bold 15px/50px "Droid Serif", serif;
 text-align:    center;
 text-shadow:   1px 1px #000000;
 display: block; 
 margin: 0 auto;
}
.buton-detalii2{
  background:    #9b9b2a;
  background:    linear-gradient(#9b9b2a, #1717c1);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii3{
  background:    #ed2121;
  background:    linear-gradient(#ed2121, #1717c1);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii4{
  background:    #ede0e0;
  background:    linear-gradient(#ede0e0, #000000);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii5{
  background:    #999999;
  background:    linear-gradient(#999999, #000000);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii6{
  background:    #93c47d;
  background:    linear-gradient(#93c47d, #666666);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii7{
  background:    #e06666;
  background:    linear-gradient(#e06666, #f3f3f3);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii8{
  background:    #7c15bf;
  background:    linear-gradient(#7c15bf, #a9a954);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}
.buton-detalii9{
  background:    #48dcdc;
  background:    linear-gradient(#48dcdc, #f3f3f3);
  border-radius: 8px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 15px/50px "Droid Serif", serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  display: block; 
  margin: 0 auto;
}